html
  head
    block title
      title #{title}
    block style
      link(href=`/${staticPath}/css/app.css`, rel='stylesheet')
      link(href=`/${staticPath}/css/react.main.css`, rel='stylesheet')
      link(href=`/${staticPath}/css/markdown.css`, rel='stylesheet')
      link(href=`/${staticPath}/css/main.css`, rel='stylesheet')
    block script
      script(src=`/${staticPath}/js/jquery-3.3.1.min.js`)
      script(src=`/${staticPath}/js/router.js`)
      script(src=`/${staticPath}/js/react.main.js`)
      script(src=`/${staticPath}/js/vue.manifest.js`)
      script(src=`/${staticPath}/js/vue.vendor.js`)
      script(src=`/${staticPath}/js/vue.app.js`)
  body
    block left
      #userMsg
      - var msgs = JSON.stringify(user.msgs);
      script(type="text/javascript").
        $(document).ready(function () {
          var userMsg = window.vueCom.userMsg('#userMsg', {
            data: {
              img: '#{user.img}',
              msgs: !{msgs}
            }
          })
        });
    block content
    block foot
    script.
      document.body.innerHeight = window.innerHeight;
      document.body.innerWidth = window.innerWidth;

